@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');  
}

:root{
    --Yellow: hsl(47, 88%, 63%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--Yellow);
    font-family: 'Figtree';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 5rem;
}

main{
    background-color: white;
    border: solid 1px;
    border-radius: 15px 15px;
    max-width: 22rem;
    box-shadow: 10px 10px black;
}

main:hover{
    box-shadow: 20px 20px black;
}

.Card_Content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1rem;
}

.Article_Pic{
    border-radius: 20px 20px;
}

.category{
    background-color: var(--Yellow);
    font-weight:800;
    border-radius: 5px 5px;
    margin-right: 13em;
    margin-top: 2em;
    padding: 7px 20px 7px;
}

.published_date{
    font-weight: 600;
    margin-top: 1em;
}

.title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 1em;
}
.title:hover{
    color:var(--Yellow)
}

.description{
    color:grey;
    margin-top: 1em;
    line-height: 1.45rem;
}

.profil{
    display: flex;
    margin-top: 2em;
    align-items: center;
}

.profil img{
    max-width: 2rem;
}

.name{
    font-weight: 800;
    margin-left: 10px;
}

footer { text-align: center }
footer a { color: hsl(228, 45%, 44%) }